/*========================== GOOGLE FONTS =============================*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

/*========================= VARIABLES ========================*/

/*========================= Colors =========================*/
$white: #fff;
$pr-blue: hsl(246, 80%, 60%);
$pr-orange: hsl(15, 100%, 70%);
$pr-soft-blue: hsl(195, 74%, 62%);
$pr-light-red: hsl(348, 100%, 68%);
$pr-lime-green: hsl(145, 58%, 55%);
$pr-violet: hsl(264, 64%, 52%);
$pr-soft-orange: hsl(43, 84%, 65%);
$nt-very-dark-blue: hsl(226, 43%, 10%);
$nt-dark-blue: hsl(235, 46%, 20%);
$nt-desaturated-blue: hsl(235, 45%, 61%);
$nt-pale-blue: hsl(236, 100%, 87%);

/*======================== Font =======================*/

$body-copy: 18px; //card titles

/*========== Weights ==============*/
$font-small: 300;
$font-regular: 400;
$font-bold: 500;

/*======================= BreakPoints ====================*/

$breakpoints: (
  "tablet": 50em,
  "desktop": 70em,
);

/*====================== Mixins =====================*/

@mixin flex-container($direction, $main, $cross, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $main;
  align-items: $cross;
  flex-wrap: $wrap;
}

@mixin mq($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn 'Error to retrieve from breakpoint';
  }
}

/*===================== BASE ======================*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  font-family: "Rubik", sans-serif;
  background: $nt-very-dark-blue;
}

li {
  list-style: none;

  p {
    cursor: pointer;
  }
}

/*====================== DASHBOARD ====================*/

.dashboard {
  &__main {
    @include flex-container(column, center, space-between, wrap);
    position: relative;

    &-profile {
      @include flex-container(row, flex-start, center, wrap);
      z-index: 30;
      background: $pr-blue;
      color: $white;
      border-radius: .75rem;
      padding-inline-start: 1.5rem;
      padding-block: 1rem;

      img {
        max-width: 3.5em;
        margin: 1rem;
        border-radius: 50%;
        outline: 2.5px solid $white;
      }

      p,
      h2 {
        font-weight: $font-small;
      }

      p {
        font-size: 0.9em;
        color: $nt-pale-blue;
      }
    }

    &-selector {
      width: 100%;
      position: absolute;
      bottom: -4rem;
      background: $nt-dark-blue;
      border-radius: 0 0 0.75rem 0.75rem;

      ul {
        height: 5rem;
        @include flex-container(row, space-around, flex-end, wrap);
        padding-block: 2rem 1.5rem;

	a{
	  color: $nt-desaturated-blue;
	  text-decoration: none;
	}

	a:hover{
	  color: $white;
	}

	.selected{
	  color: $white;
	}
      }
    }
  }

  &__card {
    position: relative;
    overflow: hidden;
    height: 9rem;
    background: $nt-dark-blue;
    border-radius: .75rem;

    .card__icon{
      width: 100%;
      position: absolute;
      top: -.75rem;

      img{
	float: right;
	padding-inline-end: 1rem;
      }
    }

    /*
    img {
      position: absolute;
      top: -.75rem;
      right: 1rem;
    }
    */

    &-data {
      @include flex-container(column, flex-start, flex-start, wrap);
      position: absolute;
      width: 100%;
      height: 80%;
      top: 2.25rem;
      padding-inline: 2rem;
      padding-block-start: 1rem;
      background: $nt-dark-blue;
      border-radius: inherit;
      color: $white;
      gap: .5rem;

      .data__header,
      .data__stats{
	@include flex-container(row, space-between, center, wrap);
	width: 100%;
      }

      h3{
	font-weight: $font-regular;
      }

      h2{
	font-size: 2em;
	font-weight: $font-small;
      }

      p{
	color: $nt-pale-blue;
      }

      button{
	background: none;
	border: none;
	cursor: pointer;

	img:hover{
	  filter: brightness(200%);
	}
      }
    }
  }
}

/*========================= CARDS ========================*/

#work {
  .card__icon{
    background: $pr-orange;
  }

  margin-block-start: 5rem;

}

#play {
  .card__icon{
    background: $pr-soft-blue;
  }
}

#study {
  .card__icon{
    background: $pr-light-red;
  }
}

#exercise {
  .card__icon{
    background: $pr-lime-green;
  }
}

#social {
  .card__icon{
    background: $pr-violet;
  }
}

#self-care {
  .card__icon{
    background: $pr-soft-orange;
  }
}
