/*========================== GOOGLE FONTS =============================*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

/*========================= VARIABLES ========================*/

/*========================= Colors =========================*/
$white: #fff;
$pr-blue: hsl(246, 80%, 60%);
$pr-orange: hsl(15, 100%, 70%);
$pr-soft-blue: hsl(195, 74%, 62%);
$pr-light-red: hsl(348, 100%, 68%);
$pr-lime-green: hsl(145, 58%, 55%);
$pr-violet: hsl(264, 64%, 52%);
$pr-soft-orange: hsl(43, 84%, 65%);
$nt-very-dark-blue: hsl(226, 43%, 10%);
$nt-dark-blue: hsl(235, 46%, 20%);
$nt-desaturated-blue: hsl(235, 45%, 61%);
$nt-pale-blue: hsl(236, 100%, 87%);

/*======================== Font =======================*/

$body-copy: 18px; //card titles

/*========== Weights ==============*/
$font-small: 300;
$font-regular: 400;
$font-bold: 500;

/*======================= BreakPoints ====================*/

$breakpoints: (
  "tablet": 50em,
  "desktop": 70em,
);

/*====================== Mixins =====================*/

@mixin flex-container($direction, $main, $cross, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $main;
  align-items: $cross;
  flex-wrap: $wrap;
}

@mixin mq($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn 'Error to retrieve from breakpoint';
  }
}

/*===================== BASE ======================*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
  background: $nt-very-dark-blue;
  @include flex-container(column, center, center, nowrap);
  gap: 4rem;
}

li {
  list-style: none;

  p {
    cursor: pointer;
  }
}

/*====================== DASHBOARD ====================*/

.dashboard {
  &__main {
    width: 100%;
    @include flex-container(column, center, space-between, wrap);
    position: relative;

    &-profile {
      z-index: 30;
      @include flex-container(row, center, center, wrap);
      padding-block: 1rem;
      background: $pr-blue;
      color: $white;
      border-radius: 0.75rem;

      img {
        max-width: 3.5em;
        margin: 1rem;
        border-radius: 50%;
        outline: 2.5px solid $white;
      }

      p,
      h2 {
        font-weight: $font-small;
      }

      p {
        font-size: 0.9em;
        color: $nt-pale-blue;
      }
    }

    &-selector {
      width: 100%;
      position: absolute;
      bottom: -4rem;
      background: $nt-dark-blue;
      border-radius: 0 0 0.75rem 0.75rem;

      ul {
        height: 5rem;
        @include flex-container(row, space-around, flex-end, wrap);
        padding-block: 2rem 1.5rem;

        a {
          color: $nt-desaturated-blue;
          text-decoration: none;
        }

        a:hover,
        .selected {
          color: $white;
          transition: color 0.5s ease-in-out;
        }
      }
    }

    @include mq("tablet") {
      grid-column: span 3;
      grid-row-start: 1;
      grid-row-end: 3;
      height: 28rem;

      @include flex-container(row, center, flex-start, wrap);

      &-profile {
        padding-inline-start: 1.5rem;
        padding-block-start: 1.5rem;
        width: 100%;
        height: 65%;
        @include flex-container(column, flex-start, flex-start, wrap);
        gap: 2rem;

        img {
          max-width: 4rem;
          margin: 0;
        }

        h2 {
          font-size: 2em;
        }
      }

      &-selector {
        height: 40%;
        bottom: 0;

        ul {
          @include flex-container(column, space-around, flex-start, nowrap);
          padding: 2rem 0 1rem 2rem;
          height: 100%;
        }
      }
    }
  }

  &__card {
    position: relative;
    overflow: hidden;
    height: 9rem;
    border-radius: 0.75rem;

    .card__icon {
      width: 100%;
      position: absolute;
      top: -0.75rem;

      img {
        float: right;
        padding-inline-end: 1rem;
      }
    }

    button {
      z-index: 30;
      position: absolute;
      top: 3rem;
      right: 2rem;
      width: 2rem;
      aspect-ratio: 1;
      background: none;
      border: none;
      cursor: pointer;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover,
      &:active {
        img {
          filter: brightness(200%);
        }
      }
    }

    &-data {
      @include flex-container(column, flex-start, flex-start, wrap);
      position: absolute;
      width: 100%;
      height: 80%;
      top: 2.25rem;
      padding-inline: 1.5rem;
      padding-block-start: 1rem;
      background: $nt-dark-blue;
      border-radius: inherit;
      color: $white;
      gap: 0.5rem;

      .data__header,
      .data__stats {
        @include flex-container(row, space-between, center, wrap);
        width: 100%;
      }

      h3 {
        font-weight: $font-regular;
      }

      h2 {
        font-size: 2em;
        font-weight: $font-small;
      }

      p {
        font-size: 0.8em;
        color: $nt-pale-blue;
      }

      &:hover {
        background: $nt-desaturated-blue;
        cursor: pointer;
        transition: background 0.5s ease-out;
      }
    }

    @include mq("tablet") {
      grid-column: span 3;
      height: 100%;

      button {
        top: 3.3rem;
        width: 1rem;
        aspect-ratio: 1;
      }

      &-data {
        z-index: 10;
        padding-inline: 1.5rem;
        gap: 2rem;

        h2 {
          width: 100%;
          font-size: 3em;
          margin-block-end: 0.5rem;
        }

        p {
          max-width: 7rem;
          font-size: 0.8em;
        }

        h3 {
          font-size: 1em;
        }
      }
    }
  }
}

/*========================= CARDS ========================*/

#work {
  .card__icon {
    background: $pr-orange;
  }
  margin-block-start: 5rem;

  @include mq("tablet") {
    margin: 0;
  }
}

#play {
  .card__icon {
    background: $pr-soft-blue;
  }
}

#study {
  .card__icon {
    background: $pr-light-red;
  }
}

#exercise {
  .card__icon {
    background: $pr-lime-green;
  }
}

#social {
  .card__icon {
    background: $pr-violet;
  }
}

#self-care {
  .card__icon {
    background: $pr-soft-orange;
  }
}

/*========================= FOOTER ===========================*/

.attribution {

  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}
