/*========================== GOOGLE FONTS =============================*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
/*========================= VARIABLES ========================*/
/*========================= Colors =========================*/
/*======================== Font =======================*/
/*========== Weights ==============*/
/*======================= BreakPoints ====================*/
/*====================== Mixins =====================*/
/*===================== BASE ======================*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  font-family: "Rubik", sans-serif;
  background: #0f1424;
}

li {
  list-style: none;
}
li p {
  cursor: pointer;
}

/*====================== DASHBOARD ====================*/
.dashboard__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
  position: relative;
}
.dashboard__main-profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  z-index: 30;
  background: #5847eb;
  color: #fff;
  border-radius: 0.75rem;
  padding-inline-start: 1.5rem;
  padding-block: 1rem;
}
.dashboard__main-profile img {
  max-width: 3.5em;
  margin: 1rem;
  border-radius: 50%;
  outline: 2.5px solid #fff;
}
.dashboard__main-profile p,
.dashboard__main-profile h2 {
  font-weight: 300;
}
.dashboard__main-profile p {
  font-size: 0.9em;
  color: #bdc1ff;
}
.dashboard__main-selector {
  width: 100%;
  position: absolute;
  bottom: -4rem;
  background: #1c1f4a;
  border-radius: 0 0 0.75rem 0.75rem;
}
.dashboard__main-selector ul {
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-block: 2rem 1.5rem;
  color: #6f76c8;
}
.dashboard__card {
  position: relative;
  overflow: hidden;
  height: 9rem;
  background: #1c1f4a;
  border-radius: 0.75rem;
  /*
  img {
    position: absolute;
    top: -.75rem;
    right: 1rem;
  }
  */
}
.dashboard__card .card__icon {
  width: 100%;
  position: absolute;
  top: -0.75rem;
}
.dashboard__card .card__icon img {
  float: right;
  padding-inline-end: 1rem;
}
.dashboard__card-data {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 2.25rem;
  background: #1c1f4a;
  border-radius: inherit;
  color: #fff;
}

/*========================= CARDS ========================*/
#work {
  margin-block-start: 5rem;
}
#work .card__icon {
  background: #ff8c66;
}

#play .card__icon {
  background: #56c2e6;
}

#study .card__icon {
  background: #ff5c7c;
}

#exercise .card__icon {
  background: #4acf81;
}

#social .card__icon {
  background: #7536d3;
}

#self-care .card__icon {
  background: #f1c65b;
}

.container {
  max-width: 80%;
  margin-inline: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

/*# sourceMappingURL=main.css.map */
