/*========================== GOOGLE FONTS =============================*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
/*========================= VARIABLES ========================*/
/*========================= Colors =========================*/
/*======================== Font =======================*/
/*========== Weights ==============*/
/*======================= BreakPoints ====================*/
/*====================== Mixins =====================*/
/*===================== BASE ======================*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
  background: #0f1424;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4rem;
}

li {
  list-style: none;
}
li p {
  cursor: pointer;
}

/*====================== DASHBOARD ====================*/
.dashboard__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
  position: relative;
}
.dashboard__main-profile {
  z-index: 30;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-block: 1rem;
  background: #5847eb;
  color: #fff;
  border-radius: 0.75rem;
}
.dashboard__main-profile img {
  max-width: 3.5em;
  margin: 1rem;
  border-radius: 50%;
  outline: 2.5px solid #fff;
}
.dashboard__main-profile p,
.dashboard__main-profile h2 {
  font-weight: 300;
}
.dashboard__main-profile p {
  font-size: 0.9em;
  color: #bdc1ff;
}
.dashboard__main-selector {
  width: 100%;
  position: absolute;
  bottom: -4rem;
  background: #1c1f4a;
  border-radius: 0 0 0.75rem 0.75rem;
}
.dashboard__main-selector ul {
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-block: 2rem 1.5rem;
}
.dashboard__main-selector ul a {
  color: #6f76c8;
  text-decoration: none;
}
.dashboard__main-selector ul a:hover,
.dashboard__main-selector ul .selected {
  color: #fff;
  transition: color 0.5s ease-in-out;
}
@media (min-width: 50em) {
  .dashboard__main {
    grid-column: span 3;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 28rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .dashboard__main-profile {
    padding-inline-start: 1.5rem;
    padding-block-start: 1.5rem;
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .dashboard__main-profile img {
    max-width: 4rem;
    margin: 0;
  }
  .dashboard__main-profile h2 {
    font-size: 2em;
  }
  .dashboard__main-selector {
    height: 40%;
    bottom: 0;
  }
  .dashboard__main-selector ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 2rem 0 1rem 2rem;
    height: 100%;
  }
}
.dashboard__card {
  position: relative;
  overflow: hidden;
  height: 9rem;
  border-radius: 0.75rem;
}
.dashboard__card .card__icon {
  width: 100%;
  position: absolute;
  top: -0.75rem;
}
.dashboard__card .card__icon img {
  float: right;
  padding-inline-end: 1rem;
}
.dashboard__card button {
  z-index: 30;
  position: absolute;
  top: 3rem;
  right: 2rem;
  width: 2rem;
  aspect-ratio: 1;
  background: none;
  border: none;
  cursor: pointer;
}
.dashboard__card button img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dashboard__card button:hover img, .dashboard__card button:active img {
  filter: brightness(200%);
}
.dashboard__card-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  height: 80%;
  top: 2.25rem;
  padding-inline: 1.5rem;
  padding-block-start: 1rem;
  background: #1c1f4a;
  border-radius: inherit;
  color: #fff;
  gap: 0.5rem;
}
.dashboard__card-data .data__header,
.dashboard__card-data .data__stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.dashboard__card-data h3 {
  font-weight: 400;
}
.dashboard__card-data h2 {
  font-size: 2em;
  font-weight: 300;
}
.dashboard__card-data p {
  font-size: 0.8em;
  color: #bdc1ff;
}
.dashboard__card-data:hover {
  background: #6f76c8;
  cursor: pointer;
  transition: background 0.5s ease-out;
}
@media (min-width: 50em) {
  .dashboard__card {
    grid-column: span 3;
    height: 100%;
  }
  .dashboard__card button {
    top: 3.3rem;
    width: 1rem;
    aspect-ratio: 1;
  }
  .dashboard__card-data {
    z-index: 10;
    padding-inline: 1.5rem;
    gap: 2rem;
  }
  .dashboard__card-data h2 {
    width: 100%;
    font-size: 3em;
    margin-block-end: 0.5rem;
  }
  .dashboard__card-data p {
    max-width: 7rem;
    font-size: 0.8em;
  }
  .dashboard__card-data h3 {
    font-size: 1em;
  }
}

/*========================= CARDS ========================*/
#work {
  margin-block-start: 5rem;
}
#work .card__icon {
  background: #ff8c66;
}
@media (min-width: 50em) {
  #work {
    margin: 0;
  }
}

#play .card__icon {
  background: #56c2e6;
}

#study .card__icon {
  background: #ff5c7c;
}

#exercise .card__icon {
  background: #4acf81;
}

#social .card__icon {
  background: #7536d3;
}

#self-care .card__icon {
  background: #f1c65b;
}

/*========================= FOOTER ===========================*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}

.container {
  min-width: 90%;
  margin-inline: auto;
}
@media (min-width: 50em) {
  .container {
    max-width: 60rem;
    min-width: 50rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
@media (min-width: 50em) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 1.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
